@tailwind base;
@tailwind components;
@tailwind utilities;


.pink-filter {
    filter: brightness(0) saturate(100%) invert(80%) sepia(80%) saturate(6000%) hue-rotate(300deg) brightness(90%) contrast(90%);
  }

.white-filter {
  filter: brightness(0) saturate(100%) invert(100%);
}


.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.hamburger-line {
  width: 2rem;
  height: 2px;
  border-radius: 0px;
  transition: all 0s linear;
  position: relative;
  transform-origin: 1px;
}

.hamburger.open .hamburger-line:nth-child(1) {
  transform: rotate(45deg);
  left:4px;
}

.hamburger.open .hamburger-line:nth-child(2) {
  opacity: 0;
}

.hamburger.open .hamburger-line:nth-child(3) {
  transform: rotate(-45deg);
  left:4px;
}